header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ee9ca7;  
    background: -webkit-linear-gradient(to right, #686263, #ee9ca7);  
    background: linear-gradient(to right, #ffdde1, #ee9ca7); ;
    
    .header__img {
        width: 100px;
        height: 100px;
        }

    nav .menu {
        display: flex;
        gap: 2rem; 
    
        .menu__item a {
            text-decoration: none;
            font-size: 30px;
            color: #000; }
        .menu__item a:hover {
            color: hsl(332, 92%, 65%);
            font-size: 50px;
            }
    }
}