*, ::after, ::before {
  box-sizing: border-box;
  justify-content: center;
}

/*MAIN*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: larger
}

  /*Preguntas*/
.preguntas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 clamp(300px, 30%, 400px);
    }

  .question__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    font-family: 'Bakbak One';
    font-size: x-large;
    color: rgb(8, 133, 91);
    }



  /* Nosotros*/
  .nosotros {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 clamp(300px, 30%, 400px);
    }

  .us__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    font-family: 'Bakbak One';
    font-size: x-large;
    color: rgb(8, 133, 91);
    }

    /*MENU*/
body {
  background-image: url(../assets/img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 
.logo {
width: 60px;
}
/*BANNER SECTION*/
.container {
width: auto;
}
/*FOOTER*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px; }

/*Contacto*/
#contacto{
  display: grid;
  grid-template-columns: 170px;
  grid-template-rows: 50px;
  font-family: 'Bakbak One', cursive; 
}
input{
  color:rgb(250, 171, 171)
}
input:focus{
  color:white;
  background-color: rgb(250, 171, 171);
}
.card1 {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 180px solid #ddd;
  margin: auto;
  margin-top: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}
.corazon {
  width: 32px;
  height: 32px;
  background-color: #ff758c;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: latido 1.4s linear infinite;
}
.corazon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff758c;
  transform: translateY(-50%);
  border-radius: 50%;
}
.corazon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff758c;
  transform: translateX(-50%);
  border-radius: 50%;
}

.form-floating {
width: 0;
height: 0;
border-top: 100px ;
border-right: 170px ;
border-bottom: 100px; 
border-left: 180px;
margin: auto;
margin-top: 10%;
}
@keyframes latido {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}